<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="dropdead, womens clothes, mens fashion, 80s fashion, dark, edgy, bring me the horizon, bmth, goth, clothing">
    <meta name="description"
        content="Perfect alternative and latest items from Drop Dead Clothing listed in one location." />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts Link-->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Bootstrap Icons Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- CSS Styles Link -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Shop Nomad - Home Is Here</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
</head>

<!-- Nav Bar Section-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand px-3 pt-3" href="../index.html"> <img src="../assets/images/dropdead2.png" height="40px"
                alt=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="./clothing.html">Clothing</a>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="./accessories.html" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Jewelry</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Belts</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Giftcards</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="./collections.html">Collections</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header Section-->
<header>
    <!-- Main Section -->
    <section class="container-fluid">
        <div class="row">
            <div class="card border-light mb-2 mt-2 mx-3" style="max-width: 90vw;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../assets/images/clothing-img.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title-clothing mt-2 mx-3">Nomad: Home Is Here Collection</h2>
                            <p class="card-text lh-lg mt-3 mx-3">Darkness in fashion is seldom bland. Even where it
                                fails,
                                its objective is to make its mark, whether one of elegance or uniformity, modesty or
                                dangerous seduction. Like red wine rather than white, it can suggest sophistication,
                                even
                                opulence; like the darks of professional makeup—the art of smoky defining shadows and
                                dark
                                lipstick—it can obscure what we find less appealing and hint at mysterious qualities
                                that a
                                scrubbed-clean face couldn’t hope to inspire. In China and Japan, for example, teeth
                                were
                                once lacquered black to protect the enamel, but also because it was considered
                                beautiful,
                                and the practice goes on today among some minorities in Southeast Asia. To paint black
                                what
                                should be white creates a shock that is the essence of dark fashion.</p>
                            <div class="dropdown mt-5 mx-3">
                                <button class="btn size dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    SIZE
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">S</a></li>
                                    <li><a class="dropdown-item" href="#">M</a></li>
                                    <li><a class="dropdown-item" href="#">L</a></li>
                                    <li><a class="dropdown-item" href="#">XL</a></li>
                                </ul>
                                <button type="button" class="btn mx-4">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<!-- Footer Section -->
<footer>
    <div class="widthFooter">
        <div class="redes">
            <a href="https://www.facebook.com/DROPDEADOFFICIAL/" target="blank"><i
                    class="bi bi-facebook fs-2 px-2"></i></a>
            <a href="https://www.instagram.com/dropdeadofficial/" target="blank"><i
                    class="bi bi-instagram fs-2 px-2"></i></a>
            <a href="https://twitter.com/DropDeadUK" target="blank"><i class="bi bi-twitter fs-2 px-2"></i></a>
        </div>
    </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>

</html>