<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="dropdead, womens clothes, mens fashion, 80s fashion, dark, edgy, bring me the horizon, bmth, goth, contact">
    <meta name="description" content="Get in touch with Drop Dead Clothing" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts Link-->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Bootstrap Icons Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- CSS Styles Link -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Get In Touch - Dropdead</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>

<!-- Nav Bar Section-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand px-3 pt-3" href="../index.html"> <img src="../assets/images/dropdead2.png" height="40px"
                alt=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="./clothing.html">Clothing</a>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="./accessories.html" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Jewelry</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Belts</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./accessories.html">Giftcards</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="./collections.html">Collections</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header Section-->
<header>
    <!-- Jumbotron -->
    <div class="bg-image p-3 text-left shadow-1-strong rounded mb-0.5 text-black"
        style="background-image: url('../assets/images/bg-contact.jpg');">

        <section id="contacto" class="container-fluid mb-5">
            <h2 class="h2 mt-2 mb-3">We'd love to hear from you!</h2>
            <div class="row">
                <article class="col-md-6">
                    <form class="row g-3">
                        <div class="col-md-12">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Your name">
                        </div>
                        <div class="col-12">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Your e-mail">
                        </div>
                        <div class="col-md-10">
                            <label for="inputCity" class="form-label">Country</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="Your city">
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip" placeholder="#">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Your message:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Type here"></textarea>
                        </div>

                        <div class="col-3">
                            <button type="submit" class="btn cancel">Clear</button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn">Send</button>
                        </div>
                    </form>
                </article>
                <!-- i Frame -->
                <article class=" map col-md-6 mb-0 mt-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.246461314706!2d-1.481167684273043!3d53.39253097998869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48797887df82ffa3%3A0x7f161e70f15c6154!2sDrop%20Dead%20Clothing!5e0!3m2!1sen!2smx!4v1657167437170!5m2!1sen!2smx"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </article>
            </div>
        </section>
        </section>
    </div>
</header>

<!-- Footer Section -->
<footer>
    <div class="widthFooter">
        <div class="redes">
            <a href="https://www.facebook.com/DROPDEADOFFICIAL/" target="blank"><i
                    class="bi bi-facebook fs-2 px-2"></i></a>
            <a href="https://www.instagram.com/dropdeadofficial/" target="blank"><i
                    class="bi bi-instagram fs-2 px-2"></i></a>
            <a href="https://twitter.com/DropDeadUK" target="blank"><i class="bi bi-twitter fs-2 px-2"></i></a>
        </div>
    </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>

</html>